@import "./fonts.css";

#airportGuide {
  margin: 0;
}

#airportGuide .airport-guide-banner {
  background: url("/images/airport-guide-banner.jpg") no-repeat center center;
  background-size: cover;
}

#airportGuide .airport-guide-container,
#mainContent #airportGuide .cards .card-content {
  width: 100%;
}

@media all and (min-width: 768px) {
  #mainContent #airportGuide .cards .card-content {
    width: 32%;
  }
}

#airportGuide .airport-guide-cards {
  margin-top: 1.5em !important;
}

#airportGuide .card-content:nth-of-type(1) .card-image {
  background: url("/images/dubai.jpg") no-repeat center center;
  background-size: cover;
}

#airportGuide .card-content:nth-of-type(2) .card-image {
  background: url("/images/new-york.jpg") no-repeat center center;
  background-size: cover;
}

#airportGuide .card-content:nth-of-type(3) .card-image {
  background: url("/images/sydney.jpg") no-repeat center center;
  background-size: cover;
}

#airportGuide .airport-guide-statistics-text {
  padding: 0 1em;
}

#airportGuide .airport-guide-planespotting {
  background: url("/images/planespotting.jpg") no-repeat center center;
  background-size: cover;
  margin: 1.5em auto 0;
}

#airportGuide .airport-guide-planespotting .heading-subtitle,
#airportGuide .airport-guide-planespotting p {
  color: #fff !important;
}

#airportGuide .airport-guide-planespotting .heading-content {
  font-weight: 600;
  margin: .75em 0;
}

@media all and (min-width: 992px) {
  #airportGuide .airport-guide-planespotting .heading-content {
    margin: 1em 0;
  }
}

#airportGuide .airport-guide-planespotting .airport-guide-planespotting-container {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: center;
  width: 96%;
}

@media all and (min-width: 768px) {
  #airportGuide .airport-guide-planespotting .airport-guide-planespotting-container {
    width: 650px;
  }
}

@media all and (min-width: 992px) {
  #airportGuide .airport-guide-planespotting .airport-guide-planespotting-container {
    width: 800px;
  }
}

@media all and (min-width: 1800px) {
  #airportGuide .airport-guide-planespotting .airport-guide-planespotting-container {
    width: 992px;
  }
}

#airportGuide .airport-guide-planespotting .airport-guide-planespotting-container h3 {
  margin-bottom: 0;
}

#airportGuide .airport-guide-planespotting .airport-guide-link {
  margin-top: 1.5em;
}