@import "./fonts.css";

#airportHelp {
    margin: 0;
}

#airportHelp .airport-help-banner {
    background: url("/images/airport-help-banner.jpg") no-repeat center center;
    background-size: cover;
}

#airportHelp .airport-help-container {
    width: 100%;
}

#airportHelp .airport-help-pay {
    border: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media all and (min-width: 768px) {
    #airportHelp .airport-help-pay {
        flex-direction: row;
        justify-content: space-between;
    }
}

#airportHelp .airport-help-pay .airport-help-pay--left,
#airportHelp .airport-help-pay .airport-help-pay--right {
    width: auto;
}

@media all and (min-width: 768px) {
    #airportHelp .airport-help-pay .airport-help-pay--left,
    #airportHelp .airport-help-pay .airport-help-pay--right {
        width: 50%;
    }
}

#airportHelp .airport-help-pay .airport-help-pay--left {
    background: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 0 1.5em 2em;
}

@media all and (min-width: 768px) {
    #airportHelp .airport-help-pay .airport-help-pay--left {
        padding: 0 1.5em 1em;
    }
}

@media all and (min-width: 992px) {
    #airportHelp .airport-help-pay .airport-help-pay--left {
        padding: 0 2em 2em;
        width: 50%;
    }
}

#airportHelp .airport-help-pay .airport-help-pay--left p {
    color: #222;
    margin-bottom: 1em;
}

#airportHelp .airport-help-pay .airport-help-pay--left h3 {
    margin: 2em 0 1.5em;
}

@media all and (min-width: 768px) {
    #airportHelp .airport-help-pay .airport-help-pay--left-box {
        float: right;
        max-width: 660px;
    }
}

#airportHelp .airport-help-pay .airport-help-pay--right {
    align-content: center;
    background-size: cover;
    background: url("/images/heathrow-pay.jpg") no-repeat center top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 200px;
    position: relative;
}

@media all and (min-width: 768px) {
    #airportHelp .airport-help-pay .airport-help-pay--right {
        min-height: 320px;
    }
}