@import "./fonts.css";

body #mainContent #airportHomepage .heading-title {
    color: #2b0b50;
    width: 94%;
}

@media all and (min-width: 768px) {
    body #mainContent #airportHomepage .heading-title {
        width: 100%;
    }
}

#airportHomepage .card-content:nth-of-type(1) .card-image {
    background: url("/images/journey-planner.jpg") no-repeat center center;
    background-size: cover;
}

#airportHomepage .card-content:nth-of-type(2) .card-image {
    background: url("/images/find-terminal.jpg") no-repeat center center;
    background-size: cover;
}

#airportHomepage .card-content:nth-of-type(3) .card-image {
    background: url("/images/find-connections.jpg") no-repeat center center;
    background-size: cover;
}

#airportHomepage .airport-minicards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

@media all and (min-width: 768px) {
    #airportHomepage .airport-minicards {
        justify-content: space-between;
        max-width: 570px;
    }
}

@media all and (min-width: 992px) {
    #airportHomepage .airport-minicards {
        max-width: 100%;
    }
}

#airportHomepage .airport-minicards-card {
    align-items: center;
    background: #fff;
    border: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    height: 215px;
    justify-content: center;
    margin: 1em .5em 0;
    position: relative;
    width: 160px;
}

@media all and (min-width: 600px) {
    #airportHomepage .airport-minicards-card {
        width: 175px;
    }
}

@media all and (min-width: 768px) {
    #airportHomepage .airport-minicards-card {
        margin-top: 1em;
    }
}

@media all and (min-width: 992px) {
    #airportHomepage .airport-minicards-card {
        height: 230px;
        margin: 0;
        width: 150px;
    }
}

@media all and (min-width: 1200px) {
    #airportHomepage .airport-minicards-card {
        width: 165px;
    }
}

@media all and (min-width: 1400px) {
    #airportHomepage .airport-minicards-card {
        width: 190px;
    }
}

.airport-minicards-img {
    height: auto;
    width: 90px;
}

#airportHomepage .airport-minicards-card .airport-minicards-text {
    bottom: 1.1em;
    color: #2b0b50;
    font-weight: 600;
    font-size: .925em;
    position: absolute;
    text-align: center;
}

@media all and (min-width: 768px) {
    #airportHomepage .airport-minicards-card .airport-minicards-text {
        font-size: 1em;
    }
}

#airportHomepage .airport-minicards-card .airport-minicards-tag {
    background: #2b0b50;
    color: #fff;
    font-size: .9em;
    font-weight: 600;
    left: 8px;
    letter-spacing: 1px;
    padding: 2px 6px;
    position: absolute;
    top: 8px;
}

#airportHomepage .homepage-bottom {
    background: url("/images/heathrow-events.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 2em;
    padding: 1.2em 0 1.85em;
    width: 100%;
}

#airportHomepage .homepage-bottom h2,
#airportHomepage .homepage-bottom h4,
#airportHomepage .homepage-bottom p {
    color: #fff;
}

#airportHomepage .homepage-bottom h2,
#airportHomepage .homepage-bottom h4,
#airportHomepage .homepage-bottom p {
    color: #2b0b50;
}

#airportHomepage .homepage-bottom h2,
#airportHomepage .homepage-bottom .homepage-bottom-subtitle {
    text-align: center;
}

#airportHomepage .homepage-bottom h2,
#airportHomepage .homepage-bottom h4 {
    margin-bottom: 1em;
}

#airportHomepage .homepage-bottom h4 {
    font-size: 1.2em;
    text-transform: uppercase;
}

#airportHomepage .homepage-bottom .homepage-bottom-subtitle {
    font-size: 1.25em;
}

#airportHomepage .homepage-bottom .homepage-title {
    font-size: 1.65em;
}

@media all and (min-width: 768px) {
    #airportHomepage .homepage-bottom .homepage-bottom-subtitle {
        margin-bottom: 2.2em;
    }
}

@media all and (min-width: 992px) {
    #airportHomepage .homepage-bottom .homepage-bottom-subtitle {
        font-size: 1.25em;
    }
}

#airportHomepage .homepage-bottom .homepage-news {
    background: #fff;
    padding: 1.25em 0 1.75em;
}

@media all and (min-width: 768px) {
    #airportHomepage .homepage-bottom .homepage-news {
        padding: 1.75em 0;
    }
}

#airportHomepage .homepage-bottom .homepage-news-container {
    display: flex;
    flex-wrap: wrap;
}

@media all and (min-width: 600px) {
    #airportHomepage .homepage-bottom .homepage-news-container {
        flex-wrap: nowrap;
    }
}

#airportHomepage .homepage-bottom .homepage-news-card {
    border-left: 4px solid #a0157c;
    margin: 1em auto;
    padding: .5em 1em;
    text-align: left;
    width: 90%;
}

@media all and (min-width: 768px) {
    #airportHomepage .homepage-bottom .homepage-news-card {
        margin: 0;
        width: auto;
    }
}

@media all and (min-width: 992px) {
    #airportHomepage .homepage-bottom .homepage-news-card {
        padding: 1em;
    }
}

#airportHomepage .homepage-bottom .homepage-news-card p {
    font-size: 1em;
    margin-bottom: .5em;
}

#airportHomepage .homepage-bottom .homepage-news-link {
    margin: 1em auto 0;
    text-align: center;
    width: auto;
}

@media all and (min-width: 768px) {
    #airportHomepage .homepage-bottom .homepage-news-link {
        margin: 1.9em auto 0;
    }
}

@media all and (min-width: 992px) {
    #airportHomepage .homepage-bottom .homepage-news-link {
        margin: 2.25em auto 0;
    }
}