@import "./fonts.css";

#airportMaps {
    margin: 0;
}

#airportMaps .airport-maps-banner {
    background: url("/images/airport-maps-banner.jpg") no-repeat center center;
    background-size: cover;
}

#airportMaps .airport-maps-text {
    margin: 0 auto;
    width: 95%;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-text {
        width: 100%;
    }
}

#airportMaps .airport-maps-text p {
    margin: .5em 0;
}

#airportMaps .airport-maps-cards {
    background: url("/images/airport-maps.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 1.5em;
    padding: 1em 1em 2em;
}

#airportMaps .airport-maps-cards h2 {
    color: #fff;
    margin: 0 0 1em;
}

#airportMaps .airport-maps-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-section {
        justify-content: space-between;
    }
}

#airportMaps .airport-maps-section>div {
    width: 90%;
}

@media all and (min-width: 992px) {
    #airportMaps .airport-maps-section>div {
        width: 100%;
    }
}

#airportMaps .airport-maps-section>div:nth-of-type(1) .airport-section--right {
    background: url("/images/london-bus.jpg") no-repeat center top;
    background-size: cover;
    background-position-y: 94%;
}

#airportMaps .airport-maps-section>div:nth-of-type(2) .airport-section--right {
    background: url("/images/london-tube.jpg") no-repeat center top;
    background-size: cover;
    background-position-y: 38%;
}

#airportMaps .airport-maps-section>div:nth-of-type(3) .airport-section--right {
    background: url("/images/london-road.jpg") no-repeat center top;
    background-size: cover;
    background-position-y: 59%;
}

#airportMaps .airport-maps-section>div:nth-of-type(1) .airport-section--right,
#airportMaps .airport-maps-section>div:nth-of-type(2) .airport-section--right,
#airportMaps .airport-maps-section>div:nth-of-type(3) .airport-section--right {
    min-height: 200px;
}

#airportMaps .airport-maps-section .airport-section-sides {
    background: #fff;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    margin: .75em 0 0;
    min-height: 225px;
    position: relative;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-section .airport-section-sides {
        flex-direction: row;
    }
}

#airportMaps .airport-maps-section .airport-section-sides h3,
#airportMaps .airport-maps-section .airport-section-sides p {
    color: #2b0b50;
}

#airportMaps .airport-maps-section .airport-section--left,
#airportMaps .airport-maps-section .airport-section--right {
    width: auto;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-section .airport-section--left,
    #airportMaps .airport-maps-section .airport-section--right {
        width: 50%;
    }
}

#airportMaps .airport-maps-section .airport-section--left {
    border-right: 1px solid #e6e6e6;
    padding: 1em;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-section .airport-section--left {
        padding: 2em 1.5em;
    }
}

#airportMaps .airport-maps-section .airport-terminal-maps {
    background: transparent;
    margin: 0;
    padding: 1.5em 0;
    position: relative;
    width: 95%;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-section .airport-terminal-maps {
        border-bottom: 2px solid #e6e6e6;
        width: 45%;
    }
}

#airportMaps .airport-maps-section .airport-terminal-maps h3 {
    font-size: 1.25em;
}

#airportMaps .airport-maps-section .airport-terminal-maps p {
    font-size: .92em;
}

@media all and (min-width: 768px) {
    #airportMaps .airport-maps-section .airport-terminal-maps h3 {
        font-size: 1.5em;
    }
    #airportMaps .airport-maps-section .airport-terminal-maps p {
        font-size: 1em;
    }
}

#airportMaps .airport-maps-section .airport-maps-link {
    font-size: 1em;
    margin: 0;
}

@media all and (max-width: 767px) {
    body #mainContent #airportMaps .bottom-container .btn {
        width: auto;
    }
}